<mat-dialog-content class="mat-typography">



    <div class="container ">

        <div class="row">
            <div class="col-sm-4 col-md-4 my-3">
                <h3 class="d-inline"><img src="./assets/logos/selectaplan.png" alt="image" class="salesicon"
                        style="width: 3vw;">Select a plan
                </h3>


            </div>


        </div>

        <div class="container c1 my-3 py-2">
            <h4>Starter</h4>
            The simplest way to start selling on social media and messaging apps <br>
            <span style="font-size: xx-large;">$5</span>USD/month <br>
            <a href="#" class="btn btn-outline-secondary my-3">Change billing cycle</a>
            <hr>
            <div class="row">

                <div class="dropdown">
                    <button class="btn 
                     dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Plan details
                    </button>

                </div>



                <!--change plan -->


                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <ul style="list-style: none;">
                            <li class="fs-5 my-2"> Payments</li>
                            <li> Online transaction fees for all third-party payment providers</li>
                            <li>5.0%</li>
                            <li class="fs-5 mt-2">Online credit card rates</li>
                            <li>5% + $0.30 USD</li>
                            <li class="fs-5 my-2">Features</li>
                            <li class="my-2"><b><i class="fa-regular fa-circle-user"></i> 1 user</b></li>
                            <li class="my-2"><i class="fa-regular fa-tag"></i> Shareable product pages</li>
                            <li class="my-2"><i class="fa-solid fa-display"></i> Point of Sale</li>
                            <li class="fs-5 my-2">Shipping</li>
                            <li class="fs-5">Shipping discounts</li>
                            <li> Competitive shipping rates from DHL Express, UPS, or USPS.</li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Button trigger modal -->
            <!-- <mat-divider></mat-divider> -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button class="btn me-md-2 Btn_Save" type="button">Save</button>
                <button class="btn Btn_Close" type="button">Cancel</button>
    
               </div>


           
       

        </div>



        <div class="container c1 my-3 py-2">
            <h4>Basic</h4>
            Everything you need to sell online, ship products, process payments, and the basics to sell in person.
            <br> Starting at <br> <span style="font-size: xx-large;">$29 </span> USD/month <br>Billed yearly<br>
            <a href="#" class="btn btn-secondary my-3">Choose Basic</a>
            <hr>
            <div class="row">

                <div class="dropdown">
                    <button class="btn 
                     dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                        Plan details
                    </button>

                </div>



                <!--change plan -->


                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        <ul style="list-style: none;">
                            <li class="fs-5 my-2"> Payments</li>
                            <li> Online transaction fees for all third-party payment providers</li>
                            <li>5.0%</li>
                            <li class="fs-5 mt-2">Online credit card rates</li>
                            <li>5% + $0.30 USD</li>
                            <li class="fs-5 my-2">Features</li>
                            <li class="my-2"><b><i class="fa-regular fa-circle-user"></i> 1 user</b></li>
                            <li class="my-2"><i class="fa-regular fa-tag"></i> Shareable product pages</li>
                            <li class="my-2"><i class="fa-solid fa-display"></i> Point of Sale</li>
                            <li class="fs-5 my-2">Shipping</li>
                            <li class="fs-5">Shipping discounts</li>
                            <li> Competitive shipping rates from DHL Express, UPS, or USPS.</li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Button trigger modal -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button class="btn me-md-2 Btn_Save" type="button">Save</button>
                <button class="btn Btn_Close" type="button">Cancel</button>
    
               </div>

        </div>




        <div class="container c1 my-3 py-2">
            <h4>Loenex</h4>
            Level up your business with professional reporting and more staff accounts. <br>Starting at <br>
            <span style="font-size: xx-large;">$79 </span>USD/month <br>Billed yearly<br>
            <a href="#" class="btn btn-secondary my-3">Choose Loenex</a>
            <hr>
            <div class="row">

                <div class="dropdown">
                    <button class="btn 
                     dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Plan details
                    </button>

                </div>



                <!--change plan -->


                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <ul style="list-style: none;">
                            <li class="fs-5 my-2"> Payments</li>
                            <li> Online transaction fees for all third-party payment providers</li>
                            <li>5.0%</li>
                            <li class="fs-5 mt-2">Online credit card rates</li>
                            <li>5% + $0.30 USD</li>
                            <li class="fs-5 my-2">Features</li>
                            <li class="my-2"><b><i class="fa-regular fa-circle-user"></i> 1 user</b></li>
                            <li class="my-2"><i class="fa-regular fa-tag"></i> Shareable product pages</li>
                            <li class="my-2"><i class="fa-solid fa-display"></i> Point of Sale</li>
                            <li class="fs-5 my-2">Shipping</li>
                            <li class="fs-5">Shipping discounts</li>
                            <li> Competitive shipping rates from DHL Express, UPS, or USPS.</li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Button trigger modal -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button class="btn me-md-2 Btn_Save" type="button">Save</button>
                <button class="btn Btn_Close" type="button">Cancel</button>
    
               </div>

        </div>



        <div class="container c1 my-3 py-2">
            <h4>Advanced</h4>
            Get the best of Loenex with advanced features and our lowest transaction fees<br>Starting at <br>
            <span style="font-size: xx-large;">$299</span>USD/month <br>Billed yearly<br>
            <a href="#" class="btn btn-secondary my-3">Choose Advanced</a>
            <hr>
            <div class="row">

                <div class="dropdown">
                    <button class="btn 
                     dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Plan details
                    </button>

                </div>



                <!--change plan -->


                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <ul style="list-style: none;">
                            <li class="fs-5 my-2"> Payments</li>
                            <li> Online transaction fees for all third-party payment providers</li>
                            <li>5.0%</li>
                            <li class="fs-5 mt-2">Online credit card rates</li>
                            <li>5% + $0.30 USD</li>
                            <li class="fs-5 my-2">Features</li>
                            <li class="my-2"><b><i class="fa-regular fa-circle-user"></i> 1 user</b></li>
                            <li class="my-2"><i class="fa-regular fa-tag"></i> Shareable product pages</li>
                            <li class="my-2"><i class="fa-solid fa-display"></i> Point of Sale</li>
                            <li class="fs-5 my-2">Shipping</li>
                            <li class="fs-5">Shipping discounts</li>
                            <li> Competitive shipping rates from DHL Express, UPS, or USPS.</li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Button trigger modal -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button class="btn me-md-2 Btn_Save" type="button">Save</button>
                <button class="btn Btn_Close" type="button">Cancel</button>
    
               </div>

        </div>



        <div class="container c1 my-3 py-2">
            <h4>Retail</h4>
            Designed for selling at retail stores — includes the essentials to start selling online. <br>Starting at
            <br>
            <span style="font-size: xx-large;">$79</span>USD/month <br>Billed yearly<br>
            <a href="#" class="btn btn-outline-secondary my-3">Choose Retail</a>
            <hr>
            <div class="row">

                <div class="dropdown">
                    <button class="btn 
                     dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Plan details
                    </button>

                </div>



                <!--change plan -->


                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <ul style="list-style: none;">
                            <li class="fs-5 my-2"> Payments</li>
                            <li> Online transaction fees for all third-party payment providers</li>
                            <li>5.0%</li>
                            <li class="fs-5 mt-2">Online credit card rates</li>
                            <li>5% + $0.30 USD</li>
                            <li class="fs-5 my-2">Features</li>
                            <li class="my-2"><b><i class="fa-regular fa-circle-user"></i> 1 user</b></li>
                            <li class="my-2"><i class="fa-regular fa-tag"></i> Shareable product pages</li>
                            <li class="my-2"><i class="fa-solid fa-display"></i> Point of Sale</li>
                            <li class="fs-5 my-2">Shipping</li>
                            <li class="fs-5">Shipping discounts</li>
                            <li> Competitive shipping rates from DHL Express, UPS, or USPS.</li>
                        </ul>
                    </div>
                </div>


            </div>

            <!-- Button trigger modal -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                <button class="btn me-md-2 Btn_Save" type="button">Save</button>
                <button class="btn Btn_Close" type="button">Cancel</button>
    
               </div>

        </div>




        <div class="container c1 my-3 py-2">
            <h5>All plans above include</h5>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <ul style="line-height: 5vh; list-style: none;">
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Online
                            store</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Shareable
                            product pages</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Unlimited
                            products</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>24/7
                            support</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Fraud
                            analysis</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Abandoned
                            cart recovery</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Manual
                            order creation</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Discount
                            codes</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Sales
                            channels</li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-12">
                    <ul style="line-height: 5vh; list-style: none;">
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>World’s
                            best-converting checkout</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Free SSL
                            certificate</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Sell in
                            over 133 countries</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>App
                            ecosystem with 4,100+ apps</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Gift
                            cards</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Loenex
                            Marketplace Connect <br>
                            <span style="font-size:small">First 50 orders from Loenex synced listings are free, then 1%
                                per synced order up to $99 per month (USD).</span>
                        </li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Marketing
                            automation <br>
                            <span style="font-size:small">Send automated emails with templated or custom
                                workflows.</span>
                        </li>
                    </ul>
                </div>





                <div class="col-md-4 col-sm-12">
                    <ul style="line-height: 5vh; list-style: none;">
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Customer
                            segmentation <br>
                            <span style="font-size:small"> Filter and group customers into an unlimited amount of
                                segments.</span>
                        </li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Unlimited
                            contacts</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Loenex
                            POS Lite <br>
                            <span style="font-size:small"> Accept casual, in-person payments at markets, fairs, pop-ups,
                                and more.</span>
                        </li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Can
                            upgrade to POS Pro <br>
                            <span style="font-size:small"> Upgrade to POS Pro to run your brick-and-mortar
                                business.</span>
                        </li>
                        <li><i class="fa-sharp fa-regular fa-circle-check" style="color: rgb(30, 80, 37);"></i>Loenex
                            Tax <br>
                            <span style="font-size:small"> Collect the right sales tax at checkout with product- and
                                region-based precision.</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</mat-dialog-content>