<div class="container my-4 ">
    <div class="prant_div">
      <div class="fast_div">
        <div class="super_chaild">
          <mat-icon>density_medium</mat-icon>
          <img src="../../../../../assets/submenu/vendor (1).png" height="32" width="32" />
          <span class="fs-4">Market</span>
        </div>
        <div>
          <a class="text_routes" routerLink="/admin"> Dashboard </a>
          <i class="ri-arrow-right-s-line"></i>Market
        </div>
      </div>
      <div class="secoand_div">
        <button mat-raised-button matTooltip="Filter.." class="demo-button " data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="ri-filter-2-fill"></i>
        </button>
        <ul class="dropdown-menu p-3">
          <li>
            <div class="form-group">
              <label class="form-label fw-bold">Name</label>
              <select class="form-select " aria-label=".form-select-sm example">
                <option selected>Open this select name</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="form-label fw-bold">Email</label>
              <select class="form-select" aria-label=".form-select-sm example">
                <option selected>Open this select Email</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="form-label fw-bold">Phone Number</label>
              <select class="form-select " aria-label=".form-select-sm example">
                <option selected>Open this select Phone Number</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </li>
        </ul>
  
        <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 " data-bs-toggle="dropdown"
          aria-expanded="false">
          <mat-icon>density_medium</mat-icon>
        </button>
  
        <ul class="dropdown-menu">
  
          <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
          <li><a class="dropdown-item" href="#">Company website </a></li>
        </ul>
  
        <button mat-raised-button matTooltip="Print" class="demo-button mx-2">
          <i class="ri-printer-fill"></i>
        </button>
  
        <button mat-raised-button matTooltip="Add"  class="demo-button ">
          <i class="ri-add-line fs-4"></i>
        </button>
      </div>
  
    </div>
    <hr />
    <div class="card row">
      <div class="col-md-12 col-sm-12 set_scroller">
        <table class="table  table-hover">
            <tbody>

            
          

            <div class="container my-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Markets</h3>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="button" class="btn btn-light mt-2 ">Preferences</button>
                        <button type="button" class="btn btn-light mt-2">Add Market</button>
                    </div>
                </div>
        
            </div>
            <div class="container c1 my-3 py-2">
                <div class="row">
                    <div class="col-lg-6 mx-4">
                        <h6>Overview</h6>
                        <h6>Last 30 days</h6>
                    </div>
                    <div class="col-lg-5 text-end">
                        <i class="fa-sharp fa-regular fa-inboxes"></i>
                    </div>
        
                    <div class="card rounded">
                        <div class="card-body rounded-5">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="5" scope="col">Active</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <a href=""><img src="../../../../../assets/logos/USA.png" alt="gbl" width="25px"></a> United
                                            states <br><span class="mx-4">Primary</span>
                                        </td>
        
                                        <td scope="row">
                                            0%<span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>Share of total sales</h6>
                                        </td>
                                        <td scope="row"> $0.00% <span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>sales</h6>
                                        </td>
        
                                        <td scope="row"> 0% <span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>Conversion rate</h6>
                                        </td>
                                        <td scope="row"> <i class="fa-regular fa-less-than"></i></td>
                                    </tr>
        
                           
        
        
                                </tbody>
        
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="5" scope="col">Inactive</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <a href=""><img src="../../../../../assets/logos/USA.png" alt="gbl" width="25px"></a> <br><span>International</span>
                                        </td>
        
                                        <td scope="row">
                                            0%<span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>Share of total sales</h6>
                                        </td>
                                        <td scope="row"> $0.00% <span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>sales</h6>
                                        </td>
        
                                        <td scope="row"> 0% <span class="text-secondary" style="font-size: 13px;">0%<i
                                                    class="fa-regular fa-square-up-right"></i></span>
                                            <h6>Conversion rate</h6>
                                        </td>
                                        <td scope="row"> <i class="fa-regular fa-less-than"></i></td>
                                    </tr>
        
                           
        
        
                                </tbody>
        
                            </table>
                           
                        </div>
                    </div>
                    
                    <tr>
                        <td class="mx-2 mb-4 "><h6 class="mt-2"> <span class="text-primary">209 countries/regions</span>  are not in any of your markets.</h6></td>
                    </tr>
                </div>
                </div>
                <div class="container c1 my-3 py-2">
                    <div class="row">
                        <div class="col-lg-6 mx-4">
                            <h6>Recommendations</h6>
                            <h6>Based on similar stores</h6>
                        </div>
                      
            
                        <div class="card rounded-3">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                             <h6>Protect your customers' privacy</h6>
                                             <h6>Adding a GDPR app reassures customers and keeps your store compliant.</h6>
                                            </td>
                                            <td scope="row"> <i class="fa-regular fa-greater-than"></i></td>
                                        </tr>
                                    </tbody>
            
                                </table>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                             <h6>Protect your customers' privacy</h6>
                                             <h6>Adding a GDPR app reassures customers and keeps your store compliant.</h6>
                                            </td>
                                            <td scope="row"> <i class="fa-regular fa-greater-than"></i></td>
                                        </tr>
                                    </tbody>
            
                                </table>
                              
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                             <h6>Protect your customers' privacy</h6>
                                             <h6>Adding a GDPR app reassures customers and keeps your store compliant.</h6>
                                            </td>
                                            <td scope="row"> <i class="fa-regular fa-greater-than"></i></td>
                                        </tr>
                                    </tbody>
            
                                </table>
                              
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                             <h6>Protect your customers' privacy</h6>
                                             <h6>Adding a GDPR app reassures customers and keeps your store compliant.</h6>
                                            </td>
                                            <td scope="row"><i class="fa-regular fa-greater-than"></i></td>
                                        </tr>
                                    </tbody>
            
                                </table>
                              
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                             <h6>Protect your customers' privacy</h6>
                                             <h6>Adding a GDPR app reassures customers and keeps your store compliant.</h6>
                                            </td>
                                            <td scope="row"> <i class="fa-regular fa-greater-than"></i></td>
                                        </tr>
                                    </tbody>
            
                                </table>
                              
                            </div>
                        </div>
                    </div>
                    </div>
               

          
        
                </tbody>
            </table>
      </div>
    </div>
  </div>