<div class="container my-4">
    <div class="row">
      <div class="col-sm-4 col-md-4 my-3">
          <h3 class="d-inline"><img src="../../../../../assets/logos/tax.png" alt="image" class="salesicon" style="width: 3vw;">Taxes and duties
          </h3>
      </div>
  </div>

  </div>
  <div class="container c1 my-3 py-2">
    <h6>Manage sales tax collection
    </h6>
    <p>If you haven’t already, create a <a href="">Shipping zone</a> in the region(s) you’re liable in. Then, find the
      region in this list and select it to manage its tax settings. If you’re unsure about where you’re liable, check
      with a tax professional.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Country/region</th>
          <th scope="col"> Collecting</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <a href=""><img src="../../../../../assets/logos/globe.png" alt="gbl" width="25px"></a> Rest of World
          </td>
          <td>
            <hr>
  </td>
        </tr>
        <tr>
          <td scope="row">
            <a href=""><img src="../../../../../assets/logos/USA.png" alt="usa"></a>
            United States
          </td>
          <td>
            <hr>
          </td>
        </tr>
      </tbody>
    </table>
    <img src="images/file.png" alt="">For a summary of your collected taxes, review your <a href="">taxes report.</a>
  </div>
  <div class="container c1 my-3 py-2">
    <h5> Duties and import taxes</h5>
    <h6 class="mt-3">Help international customers avoid unexpected fees</h6>
    <p> Upgrade to Advanced Shopify to collect duties and import taxes at checkout for countries/regions you ship to.
    </p>
    <button type="button" class="btn btn-secondary btn-sm">Compare Plans</button>
    <p class="mt-3"> The transaction fee is 1.5%, or 0.85% for Shopify Payments. <a href="">About transaction fees.</a>
    </p>
  </div>
  <div class="container c1 my-3 py-2">
    <h5>Decide how tax is charged</h5>
    <h6>Manage how taxes are charged and shown in your store.</h6>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
      Include tax in prices
      <p>Product prices will include tax. Taxes on shipping rates will be included in the shipping price. Learn more
        about when to use this setting.</p>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
      Include or exclude tax based on your customer’s country 
      <p><a href=""> Go to Markets preferences</a> to turn this setting on. </p>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
      Charge tax on shipping rates
      <p>Include shipping rates in the tax calculation. This is automatically calculated for Australia, Canada, European
        Union, New Zealand, Norway, Singapore, Switzerland, United Kingdom, and United States.</p>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
      Charge VAT on digital goods
      <p>This will create a collection that you can add digital products to. VAT will be applied to products in the
        collection at checkout (for European customers). <a href=""> Learn more</a></p>
    </div>

