<div class="card">
  <div class="card-header">
    <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel"> 
      <i class="ri-settings-5-line fs-4 mx-2"></i> 
      Settings
    </h5>
   
  </div>
  <div class="card body">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened >
        <div style="overflow-x: hidden;" class="d-inline-flex position-relative">
          <span class="position-absolute top-0 start-100 translate-middle p-1  border border-light rounded-circle">
  
          </span>
          <img class="rounded-4 shadow-4" src="https://mdbootstrap.com/img/Photos/Avatars/man2.jpg" alt="Avatar" style="width: 50px; height: 50px;">
        </div>
        <div >
  
      
       
        <h4>NAYSHIN</h4>   
        <div> nayshin.com</div> 
       <a routerLink="admin/sbilling" ><div>Billing</div></a>


<ul class="list-group list-group-flush">
  <li class="list-group-item border border-0  p-0 m-0 my-1 "> <i class="fa-solid fa-users me-2"></i> Billing </li>
  <li class="list-group-item border border-0 p-0 m-0 my-1" > <i class="fa-solid fa-chart-pie-simple-circle-currency me-2"></i>Currencies </li>
  <li class="list-group-item border border-0 p-0 m-0 my-1"> <i class="fa-solid fa-gift me-2"></i> Gifts cards </li>
  <li class="list-group-item border border-0  p-0 m-0 my-1" routerLink="admin/setting/languages"> <i class="fa-solid fa-language me-2"></i> Languages</li>
  <li class="list-group-item border border-0  p-0 m-0 my-1" routerLink="admin/setting/market"> <i class="fa-solid fa-money-bill-trend-up me-2"></i> Market
  </li>
  <li class="list-group-item border border-0  p-0 m-0 my-1" routerLink="admin/setting/notification"> <i class="fa-sharp fa-solid fa-bell me-2"></i>  Notification
  </li>
  <li class="list-group-item border border-0  p-0 m-0 my-1"> <i class="fa-solid fa-signal-bars me-2"></i> Plan</li>
  <li class="list-group-item border border-0  p-0 m-0 my-1" routerLink="admin/setting/policies">Policy</li>
  <li class="list-group-item border border-0  p-0 m-0 my-1"> <i class="fa-solid fa-truck-fast me-2"></i> Shipping and
      delivery
  </li>
  <li class="list-group-item border border-0 p-0 m-0"> <i class="fa-solid fa-money-bill"></i> Taxes and duties
  </li>

</ul>





      </div>
      </mat-drawer>
      <mat-drawer-content>
      <router-outlet></router-outlet> 
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>




  
  