
<mat-dialog-content class="mat-typography">


<div class="container my-4 ">
    <div class="prant_div">
      <div class="fast_div">
        <div class="super_chaild">
          <mat-icon>density_medium</mat-icon>
         <img src="./assets/logos/receiptentry.png" class="salesicon" style="width: 3vw;">
          <span class="fs-4"> Receipt Entry</span>
        </div>
        <div>
          <a class="text_routes" routerLink="/admin"> Dashboard </a>
          <i class="ri-arrow-right-s-line"></i> Receipt Entry
        </div>
      </div>
      <div class="secoand_div">
  
        <button mat-raised-button matTooltip="Filter.." class="demo-button">
            
            <i class="ri-filter-2-fill"></i>

        </button>
        <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 "
            data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>density_medium</mat-icon>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
            <li><a class="dropdown-item" href="#">Company website </a></li>
        </ul>
        <button mat-raised-button class="demo-button ">
            <i class="ri-printer-line fs-5"></i>
        </button>
        <button mat-raised-button matTooltip="Add" class="demo-button ms-2">
            <i class="ri-add-line fs-5 "></i>
            <!-- fitter -->
        </button>
    </div>
    </div>
    <hr />
    <!-- form -->

<!-- 
    <mat-form-field style="height: 100%; width: 100%;" >
        <mat-label>Search</mat-label>
       <input matInput  placeholder="Ex. ium"  #input>
       </mat-form-field>  -->


    
    <div class="container c1 py-3" >


        <div class="row">
            <div class=" col-sm-12 col-md-4" style="line-height: 3rem;  ">

                <label class="" for="specificSizeSelect">VOUCHER NO.:</label><br>
                <input type="password" class="form-control " id="inputPassword " placeholder="Auto Generted">

            </div>

            <div class="  col-md-4 col-sm-12" style="line-height: 3rem;  ">

                <label class="" for="specificSizeSelect">DATE:</label>
                <input type="date" class="form-control "  placeholder=" " style="width: 25.5vw;" />
            </div>


  

            <div class=" col-sm-4 col-md-4" style="line-height: 3rem;  ">

                <label class="" for="specificSizeSelect">ACCOUNT NAME:</label>
                <select class="form-select" id="specificSizeSelect">
                    <option selected>Bank Name</option>
                    <option value="1">Bank Name</option>
                    <option value="2">Bank Name</option>
                    <option value="3">Bank Name</option>
                </select>



            </div>

            <div class="col-sm-4 col-md-4" style="line-height: 3rem;  ">

                <label class="" for="specificSizeSelect">PARTICULARS:</label>
                <select class="form-select" id="specificSizeSelect">
                    <option selected>CREDITORS NAME</option>
                    <option value="1">CREDITORS NAME</option>
                    <option value="2">CREDITORS NAME</option>
                    <option value="3">CREDITORS NAME</option>
                </select>



            </div>
            <div class=" col-sm-12 col-md-4" style="line-height: 3rem;  ">

                <label class="" for="autoSizingInputGroup">AMOUNT:</label>
                <input type="password" class="form-control" id="inputPassword " placeholder="Auto GenePRICEd">


            </div>




            <div class="col-md-4 col-sm-12 " style="line-height: 3rem;  ">
                <label class="" for="autoSizingInputGroup">NOTES:</label>
                <input type="password" class="form-control" id="inputPassword " placeholder="Enter Notes">
            </div>

        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
            <button class="btn me-md-2 Btn_Save" type="button">Save</button>
            <button class="btn Btn_Close" type="button">Cancel</button>

           </div>

        </div>
    </div>
  
</mat-dialog-content>


    <!-- <div class="container">
        <div class="row my-3 ">
           
            <div class="col-md-4 col-sm-12">
                <div class="input-group mb-3  mx-auto">
                    <button type="button" class="btn btn-outline-secondary">10</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">15</a></li>
                        <li><a class="dropdown-item" href="#">25</a></li>
                        <li><a class="dropdown-item" href="#">50</a></li>
                        <li><a class="dropdown-item" href="#">100</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-grid ga d-md-flex justify-content-md-center">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary"> 1</button>
                            <button type="button" class="btn btn-outline-secondary">2</button>
                            <button type="button" class="btn btn-outline-secondary">3</button>
                            <button type="button" class="btn btn-outline-secondary">4</button>
                            <button type="button" class="btn btn-outline-secondary">5</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-grid ga d-md-flex justify-content-md-end">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary ">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

    </div> -->
  <!-- </div> -->