<div class="container mt-4">
    <div class="prant_div">
        <div class="fast_div">
          <div class="super_chaild">
            <mat-icon>density_medium</mat-icon>
           <img src="./assets/logos/readytoshipped.jpeg" class="salesicon" style="width: 3vw;">
            <span class="fs-4">  Ready To Ship</span>
          </div>
          <div>
            <a class="text_routes" routerLink="/admin"> Dashboard </a>
            <i class="ri-arrow-right-s-line"></i> Ready To Ship
          </div>
        </div>
        <div class="secoand_div">
    
          <button mat-raised-button matTooltip="Filter.." class="demo-button">
              
              <i class="ri-filter-2-fill"></i>
    
          </button>
          <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 "
              data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>density_medium</mat-icon>
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
              <li><a class="dropdown-item" href="#">Company website </a></li>
          </ul>
          <button mat-raised-button class="demo-button ">
              <i class="ri-printer-line fs-5"></i>
          </button>
          <button mat-raised-button matTooltip="Add" class="demo-button ms-2">
              <i class="ri-add-line fs-5 "></i>
              <!-- fitter -->
          </button>
      </div>
      </div>
</div>

  <hr />



<div class="container c1 py-3 ">

    <div class="row">
        <h5>ORDER INFORMATION:</h5>
        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">ORDER NO:</label>
            <input type="text" class="form-control" placeholder="enter item">
        </div>

        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">CUSTOMER NAME:</label>
            <input type="text" class="form-control" placeholder="enter customer">
        </div>
        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">SHIPPING ADDRESS:</label>
            <input type="text" class="form-control" placeholder="enter shipping address">
        </div>
    </div>
</div>





<div class="container c1 py-3 ">

    <div class="row">
<h5>PRODUCT DETAIL:</h5>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">NAME OF ITEM:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Item 1</option>
                <option value="1">Item 2</option>
                <option value="2">Item 3</option>
                <option value="3">Item 4</option>
            </select>

        </div>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">PRICE:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>

        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">QUANTITY:</label>
            <input type="text" class="form-control" placeholder=" Enter Quantity">
        </div>

        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">AMOUNT:</label>
            <input type="text" class="form-control" placeholder="Quantity*PRICE">
        </div>




      
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Order Approved</button>
            <button class="btn btn-primary" type="button">Cancel</button>
        </div> -->
    </div>
</div>

<div class="container c1 py-3 ">
<h5>PACKAGING:</h5>
    <div class="row">
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">PAKAGING TYPE:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Box
                <option value="1">Envelope</option>
                <option value="2">Bubble Mailer</option>
                <option value="3">Other</option>

                

            </select>

        </div>

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">PAKAGING CONDITION:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected> New


                <option value="1">Like New</option>
                <option value="2"> Used </option>


              

            </select>

        </div>

    </div>
</div>

<div class="container c1 py-3 ">
    <div class="row">
        <h5>SHIPPING METHOD:</h5>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">SHIPPING SERVICE:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Standard
                <option value="1">Expedited</option>


             

            </select>

        </div>

        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">TRACKING NUMBER:</label>
            <input type="text" class="form-control" placeholder="No">
        </div>

        <!-- <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">ORDER DATE:</label>
            <input type="date" class="form-control" placeholder=" ">
        </div>


        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect"> DELIVERY DATE:</label>
            <input type="date" class="form-control" placeholder=" ">
        </div> -->
    </div>


   
</div>


<div class="container c1 py-3 ">

    <div class="row">
        <h5>DOCUMENTATION:</h5>
        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">INCLUDE PACKING SLIP:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Standard
                <option value="1">Expedited</option>


              

            </select>
        </div>

        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">INCLUDE INVOICE:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Yes
                <option value="1">No</option>


             

            </select>
        </div>
     
        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">PRODUCT INSPECTION:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected> Checked for defects
                    <option value="1">Verified against order details</option>
                    <option value="1">Quality control passed</option>

              

            </select>
        </div>

        <div class="  col-md-12 col-sm-12" style="line-height: 2rem;  ">
            <label class="" for="autoSizingInputGroup">NOTES:</label>
            <input type="text" class="form-control" id=" " placeholder="Enter Notes">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4">
            <button class="btn me-md-2 Btn_Save" type="button">Save</button>
            <button class="btn Btn_Close" type="button">Cancel</button>
        </div>
    </div>
</div>
