<div class="container ">

    <div class="row">
        <div class="col-sm-4 col-md-4 my-3">
            <h3 class="d-inline"><img src="../../../../../assets/logos/shipping-and-delivery.jpg" alt="image" class="salesicon" style="width: 5vw;">Shipping and delivery
            </h3>
        </div>
    </div>
</div>

    <div class="container c1 my-3 py-2">
        <h5>Shipping
            <img src="images/info.png" alt=""></h5>
        <p>Choose where you ship and how much you charge for shipping at checkout.</p>
        <h5>General shipping rates</h5>
        <div>
          
        <div class="container c1 my-3 py-2 ">
            <div class="row ">
                <div class="col-lg-6">
                  <h6>General</h6>
                </div>
                <div class="col-lg-6">
                   Rates for
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                 All Products
                </div>
                <div class="col-lg-6">
                    3 locations-2 zones
                </div>
            </div>
        </div>
        </div>

        
        <h6>Custom shipping rates</h6>
        <div class="container c1 my-3 py-2">
            <p class="text-center">Add custom rates or destination restrictions for groups of products.</p>
            <p class="text-center"><a href="">Create new profile</a></p>
        </div>

      
       


    </div>
    <!-- modal Add Payment Method -->



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h1 class="modal-title fs-5 " id="exampleModalLabel"> Add Payment Method </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            
                            <td colspan="2">
                                <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img src="image/icon/credit-card.png" alt="pay" width="30px"> Add Credit/Debit Card
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                              <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1" >
                                <i class="fa-solid fa-building-columns fs-1 " style="font-size: 1.7rem !important;"></i> Add Personal Checking Account
                            </td>

                        </tr>

                        <tr>
                            <td> <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img src="image/icon/icons-03.png" alt="pay" width="30px"> Add Venmo Account
                            </td>

                            <td>
                              <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img src="image/icon/cash up.jpeg" alt="pay" width="28px"> Cash App
                            </td>
                        </tr>

                        <tr>
                            <td> <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img
                                    src="image/icon/paypal.png" alt="pay" width="90px">
                            </td>
                            <td> <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img
                                    src="image/icon/apple.png"  alt=" pay" width="50px">
                            </td>
                        </tr>

                        <tr>
                            <td> <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img
                                    src="image/icon/icons-07.png " alt="pay" width="30px"> Samsung Pay

                            </td>
                            <td>
                               <input type="radio" id="html" name="fav_language" value="HTML" class="mt-1">
                                <img src="image/icon/Gpay.png" alt="pay" width="110px" >
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary Btn_Close"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary Btn_replace ">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal Add Payment Method -->

    <!-- modal Repalce -->
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><img src="image/add-card.png" alt="image" class="salesicon" style="width: 3vw;">Add
                        Credit/Debit card</h3>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb1">
                    <h3>Add Card Detail</h3>
                    <div class="container c1">

                        <div class="row">
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;">
                                <div class="row">

                                    <div class="col-md-7 col-sm-12">
                                        <label class="" for="specificSizeSelect">CARD NUMBER:</label>
                                    </div>

                                    <div class="col-md-5 col-sm-12 ">
                                        <div class="d-flex mt-2  ">
                                            <img src="image/visa.png" alt="" class="IMG_SIZE">
                                            <img src="image/masteer.png" alt="" class="IMG_SIZE">
                                            <img src="image/american-express.png" alt="" class="IMG_SIZE">
                                            <img src="image/search.png" alt="" class="IMG_SIZE">
                                        </div>
                                    </div>


                                </div>
                                <input type="text" class="form-control" placeholder="💳 0000 0000 0000 0000 📷">
                            </div>


                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">EXP. DATE:</label>
                                <input type="" class="form-control" placeholder="MM/YY ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">CVV:</label>
                                <input type="password" class="form-control" placeholder=" ">
                            </div>

                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">ZIP CODE:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">NAME ON CARD:</label>
                                <input type="password" class="form-control" placeholder=" ">
                            </div>
                        </div>
                    </div>

                    <h3>Billing Address</h3>
                    <div class="container c1">
                        <h6>Custom shipping rates</h6>
                        <div class="container c1 my-3 py-2">
                            <p class="text-center">Add custom rates or destination restrictions for groups of products.</p>
                            <p class="text-center"><a href="">Create new profile</a></p>
                        </div>
                        <div class="row">

                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">COUNTRY/REGION:</label>
                                <input type="" class="form-control" placeholder=" ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">FIRST NAME:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">LAST NAME:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">CITY:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>

                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">COUNTRY:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>
                            <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">ZIP CODE:</label>
                                <input type="text" class="form-control" placeholder=" ">
                            </div>

                            <div class="  col-md-12 col-sm-12" style="line-height: 2rem;  ">

                                <label class="" for="specificSizeSelect">ADDRESS:</label>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                        id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Comments</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary Btn_replace">Add Card</button>
                    <button type="button" class="btn btn-secondary Btn_Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- </div> my comment -->

<div class="container c1 my-3 py-2">
    <h5>Expected delivery dates<img src="images/info.png" alt="">
       
    </h5>
    <div class="container c1 my-3 py-2">
        <p>Show delivery dates at checkout <button type="button" style="float: right;" class="btn btn-secondary btn-sm" disabled>Off</button></p>
       
    </div>
</div>

<div class="container c1 my-3 py-2">
    <h5>Order routing<img src="images/info.png" alt="">
        </h5>

        Automatically route orders to optimize fulfillment.
        <p class="mt-2">2 routing rules active</p>
        <button type="button" style="float: right;" class="btn btn-light btn-sm ms-4">Manage</button>
    <div class="row">
    </div>
</div>

<div class="container c1 my-3 py-2">
    <h5>Local delivery<img src="images/info.png" alt="">
    </h5>
    <p>Deliver orders directly to customers in the area.</p>
    <div class="container c1 my-3 py-2">
        <div class="row ">
            <div class="col-lg-6">
              <h6>Shop delivery</h6>
            </div>
            <div class="col-lg-6">
                <button type="button" style="float: right;" class="btn btn-secondary btn-sm" disabled>Doesn't offer delivery</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
           United States
            </div>
            <div class="col-lg-6">        
            </div>
        </div>
    </div>
</div>

<div class="container c1 my-3 py-2">
    <h5>Local pickup<img src="images/info.png" alt="">

    </h5>
    <p>Let customers pick up their orders at your locations..</p>
    <div class="container c1 my-3 py-2">
        <div class="row ">
            <div class="col-lg-6">
              <h6>Shop delivery</h6>
            </div>
            <div class="col-lg-6">
                <button type="button" style="float: right;" class="btn btn-secondary btn-sm" disabled>Doesn't offer pickup</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
           United States
            </div>
            <div class="col-lg-6">
              
            </div>
        </div>
    </div>
</div>
<div class="container c1 my-3 py-2">
    <h5>Delivery customizations</h5>

    There are no apps installed with delivery customizations. Visit the <a href="">Shopify App Store</a> to install one.


</div>
<div class="container c1 my-3 py-2 " >
    <div class="row">
      <div class="col-lg-6">
          <h5>Saved packages<img src="images/info.png" alt="">
          </h5>
      </div>
      <div class="col-lg-6">
      <p><a href="" style="float: right;">Add Package</a></p>
      </div>
    </div>
       <div class="text-center " style="background-color: rgb(241, 241, 241);">
          <p class="text-center">Add a package to show accurate shipping rates at checkout</p>
          <p>Until you add a package, Shopify will use a sample box to calculate shipping rates at checkout. Learn more

          </p>
          <button type="button" class="btn btn-dark text-center">Add package</button>
       </div>     
      <br>
  </div>
  <div class="container c1 my-3 py-2 " >
    <div class="row">
        <div class="col-lg-6">
        <h5>Shopify Shipping<img src="images/info.png" alt="">
        </h5>
    </div>
  <div class="col-lg-6">
  <p style="float: right;"><a href="">Calculate Shipping Rates</a></p>
  </div>
  </div>
    <p>Buy and print discounted <a href="">shipping labels</a> from Shopify Shipping</p>
    <div class="container c1 my-3 py-2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >DHL Express</th>
                <td scope="col" style="float: right;"> Discounts up to 72% off</td>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">UPS®

                </th>
                <td style="float: right;">Discounts up to 82% off</td>
               
              </tr>
              <tr>
                <th scope="row">USPS</th>
                <td style="float: right;">Discounts up to 67% off</td>
                
            
              </tr>
             
            </tbody>
          </table>             
    </div>
    Check hardware compatibility by printing 
    <a href="">test shipping labels.</a>
     To buy shipping supplies, visit the <a href="">Shopify hardware store</a>        
     </div>   

     <div class="container c1 my-3 py-2 ">
        <h6>Enable third-party calculated rates at checkout</h6>
        <div class="row">
            <div class="col-lg-6">
                <p>Connect your existing shipping carrier account to use your own rates.</p>
  
            </div>
            <div class="col-lg-6">
            <img src="images/truck1.svg" style="height: 6rem;width: 6rem; float: right;" alt="">
            </div>
        </div>
       
        <button type="button" class="btn btn-light btn-sm">Upgrade your plan</button>
<button type="button" class="btn btn-light btn-sm">Learn More</button>
    
    </div>

    <div class="container c1 my-3 py-2">
        <div class="row">
         <div class="col-lg-6">
             <h6>Packing slips</h6>
         </div>
         <div class="col-lg-6">
           
             <p><a href="" style="float: right;">Edit template</a></p>
         </div>
        </div>
 
         List of items printed and included in a shipment
 
 
     </div>

     <div class="container c1 my-3 py-2">
        <div class="row">
         <div class="col-lg-6">
             <h6>Custom order fulfillment<img src="images/info.png" alt="">
            </h6>
         </div>
         <div class="col-lg-6">
           
             <p><a href="" style="float: right;">Add fulfillment Service</a></p>
         </div>
        </div>
 
        Add an email for a custom fulfillment service that fulfills orders for you.
 
     </div>
     <p class="text-center">Learn more about <a href="">shipping.</a></p>

  