body {
    background-color: rgb(236, 236, 236);
    
}

.c1 {
    background-color: white;
   
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgb(221, 212, 212);
}
  

.mb1 {
    background-color: rgb(236, 236, 236);
}

.s1 {
    background-color: rgb(215, 243, 215);
    color: green;
}

.Btn_Close {
    background-color: #0d6efd;
    color: #FFF;
    padding: 10px;
    border: none;
}

.Btn_Close:hover {
    background-color: #db0909;

}

.Btn_replace {
    background-color: #0d6efd;
    color: #FFF;
    padding: 10px;
    border: none;
}

.IMG_SIZE {
    height: 2.5vh;
    width: 2.5vw;
}

.radioB {
    margin-top: 6rem;
}